<div id="boxes">
	<div id="box1" class="box">
		<img src="assets/lights_on.png" width="130" id="allhue_fall">
	</div>
	
	<div id="box2" class="box">
		<img src="assets/lights_off.png" height="130" id="allhue_off">
	</div>
	
	<div id="box3" class="box">
		<img src="assets/sunrise.png" width="130" id="hue2_wakeup">
	</div>
	
	<div id="box4" class="box">
		<img src="assets/night.png" width="130" id="allhue_night">
	</div>
	
	<div id="box5" class="box_two">
		<div id="calendar">
			<div id="date">
				<span class="month"><%= Time.now.strftime("%b").upcase %></span><Br />
				<span class="day"><%= Time.now.strftime("%d") %></span>								
			</div><!-- End #date-->
			<span class="time"><%= Time.now.strftime("%I:%M%p") %></span>				
		</div><!-- End #calendar-->
	</div>
	
	<div id="box6" class="box">
		<!-- Content-->
	</div>
	
	<div id="box7" class="box">
		<!--Content-->
	</div>
	
	<div id="box8" class="box">
		<!--Content-->
	</div>
	
	<div id="box9" class="box">
		<!--Content-->
	</div>
	
	<div id="box10" class="box">
		<!--Content-->
	</div>
	
	<div id="box11" class="box">
		<!--Content-->
	</div>
	
	<div id="box12" class="box">
		<!--Content-->
	</div>
	
</div>