<button id="hue1_on">#1 On</button>
<button id="hue1_off">#1 Off</button>
<button id="hue2_on">#2 On</button>
<button id="hue2_off">#2 Off</button>
<button id="hue3_on">#3 On</button>
<button id="hue3_off">#3 Off</button>
<button id="allhue_off">All Off</button>